/* https://www.materialpalette.com/colors */
:root {
    --var-text-color1: white;
    --var-text-color2: gray;
    --var-button-text-color: white;
    --var-disable-color: gray;
    --var-prime-color: #673ab7;
    --var-second-color: darkslateblue;
    --var-error-color: #f44336;
    --var-warning-color: #ff9800;
    --var-success-color: #4caf50;
    --var-border-color: #455a64;
    --var-background-color: #212121;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-zoom: none;
}

*:not(input, textarea) {
    user-select: none;
}

html, body {
    width: 100%;
    height: 100%;
    color: var(--var-text-color1);
    background-color: var(--var-background-color);
}

*:focus {
    outline: none;
}