:root {
    --var-text-color1: white;
    --var-text-color2: gray;
    --var-prime-color: darkviolet;
    --var-second-color: darkslateblue;
    --var-error-color: red;
    --var-warning-color: orange;
    --var-success-color: green;
    --var-border-color: dimgray;
    --var-background-color: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--var-text-color1);
    background-color: var(--var-background-color);
    user-zoom: none;
}

*:not(input, textarea) {
    user-select: none;
}

html, body {
    width: 100%;
    height: 100%;
}

.text-shadow {
    text-shadow: 0px 0px 5px var(--var-second-color2);
}
